.reportH .company_name{
    font-size: 22px;
    font-weight:bold
}
.reportH .report_name{
    font-size: 18px;
    font-weight:600;
    text-transform:uppercase
}

._btn {
    border-width: 1px;
    font-size: 13px;
    padding: 2px 2px;
    line-height: 0.38;
}

.required::after {
    content: "*";
    color: red;
    font-weight: bold;
}

thead tr th {
    text-align: center;
}

.jumbotron_ {
    /* padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px; */
    margin-top: 20px;
    background-color: #eee;
}

.tr-center th, .tr-center td{
    text-align: center;
}